body {
  background: #fafafa;
  font-family: 'Merriweather', serif;
  color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 3rem;
  line-height:1;
}

p {
  text-align: center;
  font-size: 1.5rem;
}

a {
  color: #1a237e;
  text-decoration: none;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  margin: 10px;
  width: 300px;
  height: 250px;
  text-align: center;
  background-color: #BDBDBD;
  box-shadow:
    0 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.2);
  }

.item img {
  object-fit: cover;
  height: 165px;
}

.shadow img {
transition: .5s ease;
}

.shadow div:hover{
box-shadow:
1px 1px #373737,
2px 2px #373737,
3px 3px #373737,
4px 4px #373737,
5px 5px #373737,
6px 6px #373737;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease;
}